repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix", "--config", "backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config", "backend/pyproject.toml"]
        files: ^backend/

